.container.skq-hero-area
  .row
    .col-sm-9
      h1 Powered by Open Source
      p Sidekiq is an open source project, anyone may contribute to it. The following people have made significant contributions&mdash;
.container
  ul.list-group.list-inline.skq-contributors
    li.list-group-item
      figure(itemtype="http://schema.org/Person")
        img.skq-contributor-img(itemprop="image" src="https://avatars1.githubusercontent.com/u/2911?s=300")
        figcaption
          span.name(itemprop='name') Mike Perham
          br
          a(itemprop="url" href="https://github.com/mperham" target="_new")
            img.icon(src="#{baseUrl}/img/octocat.png")
            | mperham
    li.list-group-item
      figure(itemtype='http://schema.org/Person')
        img.skq-contributor-img(itemprop='image', src='https://avatars1.githubusercontent.com/u/797?s=300')
        figcaption
          span.name(itemprop='name') Tony Arcieri
          br
          a(itemprop='url', target='_new', href='https://github.com/tarcieri')
            img.icon(src="#{baseUrl}/img/octocat.png")
            | tarcieri
    li.list-group-item
      figure(itemtype='http://schema.org/Person')
        img.skq-contributor-img(itemprop='image', src='https://avatars1.githubusercontent.com/u/9458?s=300')
        figcaption
          span.name(itemprop='name') Romain Dardour
          br
          a(itemprop='url', target='_new', href='https://github.com/unity')
            img.icon(src="#{baseUrl}/img/octocat.png")
            | unity
    li.list-group-item
      figure(itemtype='http://schema.org/Person')
        img.skq-contributor-img(itemprop='image', src='https://avatars0.githubusercontent.com/u/18191?s=300')
        figcaption
          span.name(itemprop='name') Jesse Cooke
          br
          a(itemprop='url', target='_new', href='https://github.com/jc00ke')
            img.icon(src="#{baseUrl}/img/octocat.png")
            | jc00ke
    li.list-group-item
      figure(itemtype='http://schema.org/Person')
        img.skq-contributor-img(itemprop='image', src='https://avatars2.githubusercontent.com/u/34627?s=300')
        figcaption
          span.name(itemprop='name') Petteri Räty
          br
          a(itemprop='url', target='_new', href='https://github.com/betelgeuse')
            img.icon(src="#{baseUrl}/img/octocat.png")
            | betelgeuse
    li.list-group-item
      figure(itemtype='http://schema.org/Person')
        img.skq-contributor-img(itemprop='image', src='https://avatars1.githubusercontent.com/u/40455?s=300')
        figcaption
          span.name(itemprop='name') Ezekiel Templin
          br
          a(itemprop='url', target='_new', href='https://github.com/ezkl')
            img.icon(src="#{baseUrl}/img/octocat.png")
            | ezkl
    li.list-group-item
      figure(itemtype='http://schema.org/Person')
        img.skq-contributor-img(itemprop='image', src='https://avatars2.githubusercontent.com/u/146013?s=300')
        figcaption
          span.name(itemprop='name') Ryan Schlesinger
          br
          a(itemprop='url', target='_new', href='https://github.com/ryansch')
            img.icon(src="#{baseUrl}/img/octocat.png")
            | ryansch
    li.list-group-item
      figure(itemtype='http://schema.org/Person')
        img.skq-contributor-img(itemprop='image', src='https://avatars0.githubusercontent.com/u/186424?s=300')
        figcaption
          span.name(itemprop='name') Pan Thomakos
          br
          a(itemprop='url', target='_new', href='https://github.com/panthomakos')
            img.icon(src="#{baseUrl}/img/octocat.png")
            | panthomakos
    li.list-group-item
      figure(itemtype='http://schema.org/Person')
        img.skq-contributor-img(itemprop='image', src='https://avatars3.githubusercontent.com/u/637158?s=300')
        figcaption
          span.name(itemprop='name') Ryan LeCompte
          br
          a(itemprop='url', target='_new', href='https://github.com/ryanlecompte')
            img.icon(src="#{baseUrl}/img/octocat.png")
            | ryanlecompte
    li.list-group-item
      figure(itemtype='http://schema.org/Person')
        img.skq-contributor-img(itemprop='image', src='https://avatars1.githubusercontent.com/u/744212?s=300')
        figcaption
          span.name(itemprop='name') Brandon Hilkert
          br
          a(itemprop='url', target='_new', href='https://github.com/brandonhilkert')
            img.icon(src="#{baseUrl}/img/octocat.png")
            | brandonhilkert
    li.list-group-item
      figure(itemtype='http://schema.org/Person')
        img.skq-contributor-img(itemprop='image', src='https://avatars2.githubusercontent.com/u/786640?s=300')
        figcaption
          span.name(itemprop='name') Aaron Ackerman
          br
          a(itemprop='url', target='_new', href='https://github.com/aackerman')
            img.icon(src="#{baseUrl}/img/octocat.png")
            | aackerman
    li.list-group-item
      figure(itemtype='http://schema.org/Person')
        img.skq-contributor-img(itemprop='image', src='https://avatars0.githubusercontent.com/u/832655?s=300')
        figcaption
          span.name(itemprop='name') Jonathan Hyman
          br
          a(itemprop='url', target='_new', href='https://github.com/jonhyman')
            img.icon(src="#{baseUrl}/img/octocat.png")
            | jonhyman
    li.list-group-item
      figure(itemtype='http://schema.org/Person')
        img.skq-contributor-img(itemprop='image', src='https://avatars3.githubusercontent.com/u/2394703?s=300')
        figcaption
          span.name(itemprop='name') Abdelkader Boudih
          br
          a(itemprop='url', target='_new', href='https://github.com/seuros')
            img.icon(src="#{baseUrl}/img/octocat.png")
            | seuros
    li.list-group-item
      figure(itemtype='http://schema.org/Person')
        img.skq-contributor-img(itemprop='image', src='https://avatars3.githubusercontent.com/u/1147484?s=300')
        figcaption
          span.name(itemprop='name') Anton Davydov
          br
          a(itemprop='url', target='_new', href='https://github.com/davydovanton')
            img.icon(src="#{baseUrl}/img/octocat.png")
            | davydovanton