#client-carousel.client-carousel
  ul.logo-list
    li
      img(src='#{baseUrl}/img/digitalocean.png')
    li
      img(src='#{baseUrl}/img/groupon.png')
    li
      img(src='#{baseUrl}/img/livingsocial.png')
    li
      img(src='#{baseUrl}/img/oracle.png')
    li
      img(src='#{baseUrl}/img/heroku.png')
    li
      img(src='#{baseUrl}/img/netflix.png')    
    li
      img(src='#{baseUrl}/img/condenast.png')
    li
      img(src='#{baseUrl}/img/adobe.png')
    li
      img(src='#{baseUrl}/img/kickstarter.png')  
    li
      img(src='#{baseUrl}/img/esri.png')  
    li
      img(src='#{baseUrl}/img/charitywater.png')
    li
      img(src='#{baseUrl}/img/watsi.png')
    li
      img(src='#{baseUrl}/img/customerio.png')
    li
      img(src='#{baseUrl}/img/zenpayroll.png')